.page {
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111010;
  color: white;
  font-family: -apple-system-ui-serif, ui-serif, "Spectral", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 672px;
  display: flex;
  align-items: flex-start;
}

.main {
  overflow: auto;
  max-width: 672px;
}

.nav a {
  margin-right: 1rem;
  color: #737373;
  text-decoration: none;
}

.nav a.active {
  color: #d4d4d4;
  text-decoration: none;
  border-bottom: 1px solid #e5e7eb;
}
